<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.traitify.com/lib/v1.js"></script>
</head>
<body>
	<p>Hello <%= assessmentId %></p>
    <div class="assessment"></div>​
    <script>
      Traitify.setPublicKey("uhutbgmj5eo4thjdvj1di9j9vp");
      Traitify.setHost("https://api-sandbox.traitify.com");
      Traitify.setVersion("v1");
      // var assessmentId = 'c2d9fdb9-2a28-45a7-8ff3-bbd8fc8f750b';
      var assessmentId = <%-JSON.stringify(assessmentId)%>;
      console.log(assessmentId);
      Traitify.ui.load(assessmentId, ".assessment");
	  setTimeout(function(){
	  	var notMe = document.getElementsByClassName("not-me")[0];
	  	console.log(notMe);}, 500); 
    </script>​
</body>
</html>