<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.traitify.com/lib/v1.js"></script>
</head>
<body>
	<p>Hello <%= assessmentId %></p>
	<a href="/assessment"><button>Landlord</button></a>
	<a href="/assessment"><button>Tenant</button></a>
    <script>
        document.getElementsByTagName('button')[0].addEventListener('click', landlordPath);
        document.getElementsByTagName('button')[1].addEventListener('click', renterPath);
        function landlordPath(){
            window.location.href = "/assessment";
            localStorage.person = 'landlord';
            localStorage.id = <%-JSON.stringify(assessmentId)%>;
        }
        function renterPath(){
        	window.location.href = 'http://google.com';
        	localStorage.person = 'renter';
			localStorage.id = <%-JSON.stringify(assessmentId)%>;
        }
    </script>​
</body>
</html>